<div align="center">
	<form action="index.php" method="post">
		<table align="center">
			<tr>
				<td align="center" colspan="2">
					<h3>
						<br>Iniciar sesi&oacute;n<br><br>
					</h3>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="error">
					#ERROR#
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td align="right">
					Usuario:
				</td>
				<td>
					<input type="text" id="usuario" name="usuario" required>
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td align="right">
					Contrase&ntilde;a:
				</td>
				<td>
					<input type="password" id="clave" name="clave" required>
				</td></td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td align="center" style="width:50%" colspan="2">
					<input type="submit" name="login" class='button' value="Iniciar">
				</td>
			</tr>
		</table>
	</form>
	<br>
</div>